<h2>支払い追加</h2>

<form action="/groups/<%= group.id %>/expenses" method="post">
  <label>支払者</label>
  <select name="payerId">
    <% group.members.forEach(member => { %>
      <option value="<%= member.id %>"><%= member.name %></option>
    <% }) %>
  </select> <br><br>

  <label>金額</label>
  <input type="number" name="amount" required> <br><br>

  <label>内容</label>
  <input type="text" name="description" required> <br><br>

  <label>日時</label>
  <input type="datetime-local" name="paidAt" required> <br><br>

  <!-- 割り勘方法 -->
  <label>
    <input
      type="radio"
      name="useWeight"
      value="false"
      checked
      onchange="toggleWeight()"
    >
    均等割り
  </label>
  <label>
    <input
      type="radio"
      name="useWeight"
      value="true"
      onchange="toggleWeight()"
    >
    傾斜あり
  </label> <br><br>

  <label>参加者</label>
  <% group.members.forEach(member => { %>
    <div>
      <label>
        <input
          type="checkbox"
          name="participantIds"
          value="<%= member.id %>"
          checked
        >
        <%= member.name %>
      </label>

      <input
        type="number"
        name="weights"
        value="1"
        min="0.1"
        step="0.1"
        class="weight-input"
        disabled
      >
    </div>
  <% }) %> <br>

  <button type="submit">登録</button>
</form>


<!-- グループ削除 -->
<form
  action="/groups/<%= group.id %>/delete"
  method="post"
  onsubmit="return confirm('このグループを削除しますか？メンバー・支払いもすべて削除されます。');"
>
  <button type="submit">グループを削除</button>
</form>

<br><br>

<a href="/">← グループ一覧へ戻る</a>

<script src="/js/group.js"></script>