<%- include("partials/header", {
  title: group.name
}) %>

<a href="/">← グループ一覧へ戻る</a>

<h1><%= group.name %></h1>

<section class="section-card">
  <%- include("partials/members") %>
</section>

<a
  href="/groups/<%= group.id %>/expenses/new"
  class="primary-action-btn"
>
  ＋ 支払いを追加
</a>

<section class="section-card">
  <%- include("partials/expenses") %>
</section>

<section class="section-card">
  <%- include("partials/settlement") %>
</section>

<%- include("partials/footer") %>