<%- include("partials/header", {
  title: group.name
}) %>

<h1><%= group.name %></h1>

<%- include("partials/members") %>

<%- include("partials/expenses") %>

<%- include("partials/settlement") %>

<%- include("partials/expenseForm") %>

<%- include("partials/footer") %>